<!DOCTYPE html>
<!-- Adds FB open graph data metadata properties -->
<html lang="en-US" prefix="og: https://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Amarja Palekar">
	<!-- TODO: Add description of what the webpage codes -->
	<meta name="description" content="">
	<!-- TODO: Add keywords for search engine -->
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../styles/main.css">
	<title>Capstone Travel Planner App</title>
	<!-- TODO: Create and add a fevicon in .ico format-->
	<link rel="icon" href="">
	<!-- FB open graph protocal markup -->
	<meta property="og:title" content="Capstone Travel App">
	<!-- TODO: Add description -->
	<meta property="og:description" content="">
	<!-- TODO: Add image link -->
	<meta property="og:image" content="">
	<!-- Twitter cards -->
	<meta name="twitter:card" content="summary_large_image">
	<!-- TODO: Add an unique image with aspect ratio 2:1 -->
	<meta name="twitter:image" content="">
	<!-- TODO: Add other icon types -->
</head>
<body>
	<!-- This HTML follows BEM [block]__[element]--[modifier] class naming convention-->
	<!-- use some-thesis instead of somethesis for class names -->
	<header class="page__header">
		<nav class="navbar__menu">
			<ul class="navbar__list">
				<!-- TODO: Add nav bar items -->
			</ul>
		</nav>
	</header>


	<main>
		<!-- Move to header section if no nav bar is needed -->
		<header class="main__hero">
			<h1>Travel Planner</h1>
		</header>

		<!-- Form to get trip information -->
		<section class="trip-info">
			<form class="trip-info__form">
				<label for="tripDestination" class="trip-info__form__loc">
					My trip to:
				</label>
				<input type="text" name="tripDestination" id="tripDestination"
				class="trip-info__form__loc" placeholder="Enter Location"> <br><br>
				<label for="tripStartDate" class="trip-info__form__date">Departing:</label>
				<input type="date" min="2021-01-01" onfocus="this.min=new Date().toISOString().split('T')[0]" name="tripStartDate" id="tripStartDate"> <br><br>
				<input type="submit" value="Let's Plan!" class="btn btn--sub" id="generatePlan">
			</form>
		</section>

		<!-- Results for trip planning-->
		<section class="trip-plan">
			<div class="trip-plan__countdown">
				<p>Trip to <span id="tripLoc"></span> is <span id="tripDaysToGo"></span> days away</p>
			</div>
			<div class="trip-plan__weather">
				<p>Typical weather for then is:</p>
				<!-- TODO: Add trip min and max temps -->
				<p></p>
				<!-- TODO: Add trip sun/cloud prospects -->
				<p></p>
			</div>
		</section>
	</main>


	<footer>
		<section class="copyrights">
			<p class="copyrights__statement">
				&copy 2021 Designed & coded by Amarja Palekar
			</p>
		</section>
	</footer>

	<!-- ADD apps script -->
	<!-- <script type="text/javascript" src="../js/app.js"></script> -->
	<!-- <script type="text/javascript" src="../../../dist/main.js"></script> -->
	<!-- <script type="text/javascript" src="../js/loadtest.js"></script> -->
</body>
</html>