<!DOCTYPE html>
<!-- Adds FB open graph data metadata properties -->
<html lang="en-US" prefix="og: https://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Amarja Palekar">
	<meta name="description" content="Travel Planner created for Udacity Frontend Nano Degree Capstone project. Provides userwith the weather forecast at the destination, a small gist of the destination country and an image for the destination. User can use this information to create trip plans">
	<!-- TODO: Add keywords for search engine -->
	<meta name="keywords" content="Travel Planner, Capstone, JavaScript Project, Frontend Project, Nano Degree, Weather Forecast, ">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Capstone Travel Planner App</title>
	<link rel="icon" href="">
	<!-- FB open graph protocal markup -->
	<meta property="og:title" content="Capstone Travel App">
	<meta property="og:description" content="Travel Planner created for Udacity Frontend Nano Degree Capstone project. Provides userwith the weather forecast at the destination, a small gist of the destination country and an image for the destination. User can use this information to create trip plans">
	<meta property="og:image" content="./images/templateImg1.jpg">
	<!-- Twitter cards -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="./images/templateImg1.jpg">
</head>
<body>
	<!-- This HTML follows BEM [block]__[element]--[modifier] class naming convention-->
	<!-- use some-thesis instead of somethesis for class names -->

	<header class="page__header main__hero">
		<h1>Travel Planner</h1>
	</header>

	<main class="page__body">
		<!-- Form to get trip information -->
		<section class="trip-info">
			<form class="trip-info__form">
				<label for="tripDestination" class="trip-info__form__loc">
					My trip to:
				</label>
				<input type="text" name="tripDestination" id="tripDestination"
				class="trip-info__form__loc constInput" placeholder="Enter Location"> <br><br>
				<label for="tripStartDate" class="trip-info__form__date">Departing:</label>
				<input type="date" min="2021-01-01" onfocus="this.min=new Date().toISOString().split('T')[0]" name="tripStartDate" id="tripStartDate"> <br><br>
				<input type="submit" value="Let's Plan!" class="btn btn--sub" id="generatePlan">
			</form>

			<div class="trip-info__animation">
				<p id="animateL" class="animeText">L</p>
				<p id="animateE" class="animeText">E</p>
				<p id="animateT" class="animeText">T</p>
				<p id="animateappost" class="animeText">'</p>
				<p id="animateS" class="animeText">S</p>
				<p id="animateBr" class="animeText"> </p>
				<p id="animateG" class="animeText">G</p>
				<p id="animateO" class="animeText">O</p>
				<p id="animateexclaim" class="animeText">!</p>
			</div>
		</section>

		<!-- Results for trip planning-->
		<section class="trip-plan hide">
			<div class="trip-plan--left">
				<!-- Images for trip destination  -->
				<div class="trip-plan__images hide">
					<img src="" id="destinationImage" class="img">
				</div>
			</div>

			<div class="trip-plan--right">
				<!-- Countdown to departure -->
				<div class="trip-plan__countdown hide">
					<p>Trip to <span id="tripLoc"></span> is <span id="tripDaysToGo"></span> days away</p>
				</div>

				<!-- Weather at destination -->
				<div class="trip-plan__weather hide">
					<p>Typical weather for then is:</p>
					<p id="tempRange"> High: <span id="tempHigh"></span>, Low: <span id="tempLow"></span></p>
					<div class="weather__flex">
						<p id="weatherText"></p>
						<img id="weatherIcon" src="" alt="Weather icon">
					</div>
				</div>

				<!-- Destination country details -->
				<div class="trip-plan__country-details hide">
					<p id="cntryDtls">
					</p>
				</div>
			</div>

		</section>
	</main>


	<footer class="page__footer">
		<section class="copyrights">
			<p class="copyrights__statement">
				&copy 2021 Designed & coded by Amarja Palekar
			</p>
		</section>
	</footer>

	<script>
		// Check that service workers are supported
		if ('serviceWorker' in navigator) {
			// Use the window load event to keep the page load performant
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/service-worker.js');
			});
		}
	</script>
</body>
</html>