$primary100: #fffef9;
$primary200: #fff9e6;
$primary300: #ffefbf;
$primary400: #fee598;
$primary500: #fedb71;
$primary600: #fecc37;
$primary700: #f8bb02;
$primary800: #bd8f01;
$primary900: #836201;
$primary1000: #483601;


$secondary100: #fef3f6;
$secondary200: #fdceda;
$secondary300: #fba9be;
$secondary400: #f983a2;
$secondary500: #f75e86;
$secondary600: #f5396a;
$secondary700: #e70b45;
$secondary800: #9d082f;
$secondary900: #520418;
$secondary1000: #2d020d;

$accent100: #e4f6fd;
$accent200: #bfebfb;
$accent300: #9adff9;
$accent400: #75d3f7;
$accent500: #3dc1f4;
$accent600: #0dace9;
$accent700: #0a83b1;
$accent800: #075a7a;
$accent900: #043142;
$accent1000: #02151d;


$neutral200: #f1f4f5;
$neutral300: #dbe1e5;
$neutral400: #c4cfd4;
$neutral500: #adbcc4;
$neutral600: #8ba0ab;
$neutral700: #698492;
$neutral800: #485b65;
$neutral900: #303c42;
$neutral1000: #171d20;


// $success100: ;
// $success200: ;
// $success300: ;
// $success400: ;
// $success500: #70ac61;
$success: #54da33;
// $success600: ;
// $success700: ;
// $success800: ;
// $success800: ;
// $success900: ;
// $success1000: ;


// $error500: #b06764;
$error: #dd3e37;
// $error500: #ac6161;
// $error: #da3333
// $warning500: #b08b64;
$warning: #dd8c37;
// $warning500: #ac8761;
// $warning: #da8833


@font-face{
	font-family: 'Roboto';
	src: url(./../media/fonts/Roboto-Regular.ttf) format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Roboto-Light-Italics';
	src: url(./../media/fonts/Roboto-LightItalic.ttf) format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'Noto';
	src: url(./../media/fonts/NotoSerif-Regular.ttf) format('truetype');
	font-weight: 400;
}


$titleFont: 'Noto';
$paraFont: 'Roboto';
$paraSmallItalicsFont: 'Roboto-Light-Italics';